.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(6, 10, 12, 0.8);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_h1 {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}