@media screen and (min-width: 1100px) {
    #cards {
        margin-top: 50px;
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #setaDir, #setaEsq {
        position: absolute;
        cursor: pointer;
        padding: 30px;
        box-shadow: 8px -8px 0 1px #d3394c inset;
        border: solid black;
        border-width: 0 0 8px 8px;
    }

    #setaEsq {
        margin-left: 300px;
        margin-top: 250px;
        transform: rotate(45deg);
    }
    
    #setaDir {
        top: 110px;
        margin-top: 250px;
        margin-left: 710px;
        transform: rotate(225deg);
    }

    p {
        padding: 3em;
    }
}

@media screen and (max-width: 1100px) {
    #cards {
        display: inline-block;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
    }

    .navigate {
        text-align: center;
    }

    #setaEsq, #setaDir {
        position: absolute;
        padding: 20px;
        cursor: pointer;
        box-shadow: 8px -8px 0 1px #d3394c inset;
        border: solid black;
        border-width: 0 0 8px 8px;
    }

    #setaEsq {
        margin-top: 250px;
        transform: rotate(45deg);
    }

    #setaDir {
        top: 60px;
        margin-left: 290px;
        margin-top: 320px;
        transform: rotate(225deg);
    }

    p {
        padding: 1em;
    }
}